* {
    box-sizing: border-box
}

* {
    transition: all 0.3s linear
}


/*środkowanie div w div*/

.outer {
    position: relative;
    background-color: darkorange;
    width: 200px;
    height: 200px;
}


/*
.inner{
    position: absolute;
    background-color: yellow;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}
*/

.inner {
    position: absolute;
    background-color: yellow;
    width: 50%;
    height: 50%;
    /*    left: 50%;*/
    /*    top:50%;*/
    transform: translateY(50%) translateX(50%);
}


/*okrągły przycisk FA*/

.circle-button {
    display: inline-block;
    background-color: blue;
    border: 1px solid blue;
    color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 25px;
}

.circle-button:hover {
    color: blue;
    background-color: red;
    border: 1px solid red;
}


/*gradient*/

.gradient {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    width: 100%;
    height: 200px;
}


/*video*/

.videoRWD {
    max-width: 90%;
}


/*Ikona Font Awesome jako znacznik listy tu zasadniczo nie ma css-a*/


/*

.list{
    list-style: none;
}

.list-item:before {
    content: "";
}*/


/*Zmiana koloru czcionki placeholdera w formularzu*/

input::placeholder,
textarea::placeholder {
    color: red;
    padding: 5px;
}


/*Nadanie innego koloru dla linku, który służy do pobierania plików z rozszerzeniem .doc i .docx*/

a[href$=".doc"] {
    color: aqua;
}

a[href$=".docx"] {
    color: greenyellow;
}


/*Znacznik cytatu <q> oraz <blockquote> to znaczniki cytatów. Dla języka
angielskiego cudzysłów w znaczniku cytatu <q> oraz <blockquote> ma mieć
wygląd *cytowany tekst*, a dla innych języków "cytowany tekst"*/

q {
    quotes: "''" "''";
}

blockquote::before {
    content: "+"
}

blockquote::after {
    content: "+"
}

blockquote:lang(en)::before {
    content: "#"
}

blockquote:lang(en)::after {
    content: "#"
}

q:lang(en) {
    color: red;
    quotes: "*" "*";
}

blockquote:lang(en) {
    color: crimson;
}


/*Stopka strony przypięta do dolnej krawędzi przeglądarki*/

.copyright {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
}


/*Powiększanie zdjęcia w tle po najechaniu myszką*/

.zoom-box {
    position: relative;
    width: 670px;
    height: 370px;
    border: #438493 solid 10px;
    overflow: hidden;
}

.zoom-back {
    position: absolute;
    margin: 0;
}

.zoom-back img:hover {
    transform: scale(1.5);
}


/*Efekt bijącego serca w napisie*/

.serce{
    font-size: 10em; 
}

.fa-heart {
    color: red;
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes resize {
    0%,
    100% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(0.5);
    }
}